body {
	background-color: #FFE8ED;
	background-image: url("lavenderbg.gif");
	background-position: left bottom;
	background-repeat: repeat-x;
	margin-top: 90px;
	margin-bottom: 100px;
	margin-right: 100px;
	margin-left: 100px;
}
h1 {
	font-family: Arial;
	color: #732525;
	font-size: 20px
	margin-bottom: 100px;
}
p, li {
	font-family: Arial;
	color: #732525;
	font-size: 18px;
}
a {
	font-family: Arial;
	color: #A95353;
	font-size: 12px;
}
